@import "helpers";

// style progress bar for page transitions
progress#progress-bar {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30%;
}

label[for='progress-bar'] em {
  @include visuallyhidden;
}

// hide the native progress bar if displaying the spinner instead
label[for='progress-bar'].spinner + progress#progress-bar {
  display: none;
}

// css for the spinner animation that replaces the native progress bar
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 60px;
  -webkit-appearance: none;
  appearance: none;
}

.spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  animation: spinner 0.6s linear infinite;
}
