<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{content.titleTag}</title>
    <link rel="stylesheet" href="/css/styles.css"><%- spaModeScript ? spaModeScript : '' %>
    <script src="/js/main.js" defer></script>
  </head>
  <body class="no-js">
    <main>
      <header>
        <h1>{content.appTitle}</h1>
        <h2>{content.pageTitle}</h2>
      </header><%- spaModeNav ? spaModeNav : '' %>
      {pageContent}
    </main>
  </body>
</html>
