<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{content.titleTag}</title>
    <meta name="description" content="Describe your website here">
    <!--! this inline script makes it possible for check-if-CSS-is-disabled to listen for any CSS files that fail to load -->
    <script>window.addEventListener('error', (event) => { if (event?.target?.tagName === 'LINK') { window.linkTagError = true } }, true)</script>
    <link rel="preload" href="/css/styles.css" as="style">
    <link rel="preload" href="/js/main.js" as="script">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/images/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/images/favicon-128x128.png" sizes="128x128">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
  </head>
  <body class="no-js">
    <main>
      <header>
        <h1>{content.appTitle}</h1>
        <h2>{content.pageTitle}</h2>
      </header>
      {pageContent|s}
    </main>
  </body>
</html>
