<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='format-detection' content='telephone=no'>
    <title><%= appName %> - Homepage</title>
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <main>
      <header>
        <h1><%= appName %></h1>
      </header>
      <article>
        <p>Here's a silly picture of Teddy Roosevelt:</p>
        <p>
          <img src='/images/teddy.jpg' alt=''>
        </p>
      </article>
    </main>
    <script type='text/javascript' src='/js/main.js'></script>
  </body>
</html>
