/*
  This is a sample Stylus CSS file. It compiles down to regular CSS. The compilation process is handled automatically by Roosevelt.

  For more information about what fancy new CSS syntax is introduced by Stylus, have a look here: https://stylus-lang.com/
*/

img {
  border: 5px #000 dotted;
}
