<include src="layouts/main">
  <arg pageContent>
    <article id="pageWithForm">
      <form action="/pageWithForm" method="post">
        <fieldset>
          <legend>Page with a form</legend>
          <dl>
            <dt><label for="textbox">Text box:</label></dt>
            <dd><input type="text" name="textbox" id="textbox"></dd>
            <dt><label for="checkbox">Checkbox:</label></dt>
            <dd><input type="checkbox" name="checkbox" id="checkbox"></dd>
            <dt><label>Radios:</label></dt>
            <dd>
              <ul class="radios">
                <li><input type="radio" name="radios" value="one" id="one"> <label for="one">One</label></li>
                <li><input type="radio" name="radios" value="two" id="two"> <label for="two">Two</label></li>
                <li><input type="radio" name="radios" value="three" id="three"> <label for="three">Three</label></li>
              </ul>
            </dd>
          </dl>
          <menu>
            <li><button type="submit" name="submit">Submit</button></li>
          </menu>
        </fieldset>
      </form>
    </article>
  </arg>
</include>
