/*
  This is a sample SASS CSS file. It compiles down to regular CSS. The compilation process is handled automatically by Roosevelt.

  For more information about what fancy new CSS syntax is introduced by SASS, have a look here: https://sass-lang.com/
*/

$face: sans-serif;

body {
  font-family: $face;
  color: #100;
}

@import 'more';
